configuration {
    modi: "window,run,drun,ssh";
    show-icons: true;
    {% if theme is defined and theme == 'dracula' %}
    theme: "dracula";
    {% elif theme is defined and theme == 'nord' %}
    theme: "nord";
    {% else %}
    theme: "gruvbox-dark";
    {% endif %}
    font: "Hack Nerd Font 10";
}
